{% macro meta(page) %}
<p class="project-meta">
  {{ page.extra.languages | join(sep=" · ") }}
  {%- if page.extra.status not in ["Production", "Producción"] %}
  · <span class="project-status">{{ page.extra.status }}</span>
  {%- endif %}
</p>
{% endmacro %}

{% macro render(page) %}
<div class="project-item">
  <div class="project-header">
    <a href="{{ page.permalink }}" class="project-name">{{ page.title }}</a>
    {% if page.extra.type %}
    <span class="project-type">{{ page.extra.type }}</span>
    {% endif %}
  </div>

  <p class="project-desc">{{ page.description }}</p>

  {{ self::meta(page=page) }}
</div>
{% endmacro %}
